<!DOCTYPE html>
<html>
<head>
  <title>Balto Consultation - Summary</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <h2>Dummy Page</h2>
  <h2>Pet: <%= session[:pet] %></h2>
  <h2>Pet Name: <%= session[:pet_name] %></h2>
  <h2>Sex: <%= session[:sex] %></h2>
  <h2>Breed: <%= session[:breed] %></h2>
  <h2>k1: <%= session[:k1] %></h2>
  <h2>Age (years): <%= session[:age_years] %></h2>
  <h2>Age (months): <%= session[:age_months] %></h2>
  <h2>Age (total months): <%= session[:age_total_months] %></h2>
  <h2>Lifestage: <%= session[:lifestage] %></h2>
  <h2>neuter: <%= session[:neuter] %></h2>
  <h2>k3: <%= session[:k3] %></h2>
  <h2>body_condition: <%= session[:body_condition] %></h2>
  <h2>nec: <%= session[:nec] %></h2>
  <h2>weight_current: <%= session[:weight_current] %></h2>
  <h2>weight_adult: <%= session[:weight_adult] %></h2>
  <h2>weight_target: <%= session[:weight_target] %></h2>
  <h2>activity_level: <%= session[:activity_level] %></h2>
  <h2>k2: <%= session[:k2] %></h2>
  <h2>activity_level: <%= session[:activity_level] %></h2>
  <h2>recovery_routine: <%= session[:recovery_routine] %></h2>
  <h2>food_type: <%= session[:food_type] %></h2>
  <h2>food_brand: <%= session[:food_brand] %></h2>
  <h2>ingredient_exclusion: <%= session[:ingredient_exclusion] %></h2>
  <h2>dental_brushing: <%= session[:dental_brushing] %></h2>
  <h2>dental_chews: <%= session[:dental_chews] %></h2>
  <h2>wellness_issues: <%= session[:wellness_issues] %></h2>
  <h2>email: <%= session[:email] %></h2>
  <h2>mer: <%= session[:mer] %></h2>
  <h2>Diet mix: <%= session[:diet_mix] %></h2>



</body>
</html>