<!DOCTYPE html>
<html>
<head>
  <title>Balto Consultation - Summary</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>

<h2>Dummy Page</h2>

<h2>Pet: <%= session[:pet] %></h2>
<h2>Pet Name: <%= session[:pet_name] %></h2>
<h2>Sex: <%= session[:sex] %></h2>
<h2>Breed: <%= session[:breed] %></h2>
<h2>Age (years): <%= session[:age_years] %></h2>
<h2>Age (months): <%= session[:age_months] %></h2>
<h2>Age (total months): <%= session[:age_total_months] %></h2>
<h2>Life stage: <%= session[:lifestage] %></h2>


</body>
</html>